<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Ejercicio  </h1></center>

<center><h2 style="font-size:2em;color:#840700">  Incendios en México </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/incendio.jpg" align="left" style="width:500px"/></td>
<td>

* **La Comisión Nacional Forestal (CONAFOR)** es la institución federal encargada de operar, desde septiembre de 2002, el Programa Nacional de Protección contra Incendios Forestales en México, cuyo objetivo es proteger los recursos forestales de la presencia de incendios y atacar las causas que los originan. Para ello despliega acciones específicas en materia de prevención, detección, control y combate. 

* **¿Qué es un incendio forestal?** Un incendio forestal es la propagación libre y no programada del fuego sobre la vegetación en los bosques selvas y zonas áridas y semiáridas. 

* Se calcula que **las actividades humanas ocasionan el 99%** de éstos incendios y sólo el resto tiene como causa fenómenos naturales 
    
<br>
</td>
</tr>
</table>

# Librerías

Cargando las bibliotecas que necesitamos

In [120]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [121]:
# cargar el archivo datos/Serie_historica_anual_incendios_2017.csv en un dataframe llamado df
df_incendios = pd.read_csv("datos/Serie_historica_anual_incendios_2017.csv")
df_incendios.head()

,Número de Incendio,Clave del incendio,Grados,Minutos,Segundos,Grados.1,Minutos.1,Segundos.1,Clave municipio,Estado,...,Tamaño,Deteccion,Llegada,Duracion HMS,Duracion H,Costos MXN,Superficie Salvada,CO2 emitido,CO2 Evito emitir,Region
0,324,17-09-0324,19,5,55.7,99,9,51.54,12,Ciudad de México,...,Mayor a 100 Hectáreas,00:05:00,00:40:00,04:00:00,220.00,256217.0,2251.09,8678.63,163566.56,Centro
1,430,17-09-0430,19,34,55.3,99,7,32.60,5,Ciudad de México,...,0 a 5 Hectáreas,00:05:00,00:11:00,08:00:12,80.00,3855.0,22.86,17.65,269.04,Centro
2,411,17-09-0411,19,10,11.4,99,5,49.50,9,Ciudad de México,...,0 a 5 Hectáreas,00:05:00,01:40:00,03:12:12,75.20,2881.0,16.77,58.56,892.57,Centro
3,328,17-09-0328,19,6,38.8,99,8,59.90,9,Ciudad de México,...,51 a 100 Hectáreas,00:05:00,01:27:00,05:07:00,53.12,68497.0,821.24,2868.36,43719.62,Centro
4,402,17-09-0402,19,9,1.7,99,16,17.30,12,Ciudad de México,...,Mayor a 100 Hectáreas,00:05:00,00:25:00,23:05:00,47.08,12770.0,2219.24,7538.24,118143.58,Centro

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre el número total de filas y columnas </li>
</ul>
</div>

In [122]:
#Numero total de filas y columnas
df_incendios.shape

(8872, 37)

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre los nombres de las columnas </li>
</ul>
</div>

In [123]:
#Columnas
df_incendios.columns

Index(['Número de Incendio', 'Clave del incendio', 'Grados', 'Minutos',
       'Segundos', 'Grados.1', 'Minutos.1', 'Segundos.1', 'Clave municipio',
       'Estado', 'Municipio', 'Predio', 'Causa', 'Fecha Inicio',
       'Fecha Termino', 'Mes Acontecimiento', 'Duración días',
       'Tipo de incendio', 'Tipo Vegetacion', 'Tipo Impacto',
       'Arbolado Adulto', 'Renuevo', 'Arbustivo', 'Herbaceo', 'Hojarasca',
       'Suelo Organico', 'Total Hectareas', 'Tamaño', 'Deteccion', 'Llegada',
       'Duracion HMS', 'Duracion H', 'Costos MXN', 'Superficie Salvada',
       'CO2 emitido', 'CO2 Evito emitir', 'Region'],
      dtype='object')

Columnas importantes:
* Estado: Entidad Federativa
* Municipio: Municipio
* Tipo Impacto: Tipo impacto del incendio
* Causa: Causa del incendio
* Mes Acontecimiento: Mes en el que ocurrió el incendio
* Total Hectareas: Total de suelo afectado en Hectáreas 
* Duracion HMS: Duración en Hora:Minutos:Segundos
* Duracion H-Decimal: Duración en horas decimales

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre el tipo de dato de cada columna </li>
</ul>
</div>

In [124]:
#tipos de variables
df_incendios.dtypes

Número de Incendio      int64
Clave del incendio     object
Grados                 object
Minutos                 int64
Segundos              float64
Grados.1                int64
Minutos.1               int64
Segundos.1            float64
Clave municipio         int64
Estado                 object
Municipio              object
Predio                 object
Causa                  object
Fecha Inicio           object
Fecha Termino          object
Mes Acontecimiento     object
Duración días          object
Tipo de incendio       object
Tipo Vegetacion        object
Tipo Impacto           object
Arbolado Adulto         int64
Renuevo                 int64
Arbustivo               int64
Herbaceo                int64
Hojarasca               int64
Suelo Organico          int64
Total Hectareas         int64
Tamaño                 object
Deteccion              object
Llegada                object
Duracion HMS           object
Duracion H            float64
Costos MXN            float64
Superficie Salvada    float64
CO2 emitido           float64
CO2 Evito emitir      float64
Region                 object
dtype: object

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre los principales características estadísticas de parámetro cuantitativo  </li>
</ul>
</div>

In [125]:
#.describe()
df_incendios.describe()

,Número de Incendio,Minutos,Segundos,Grados.1,Minutos.1,Segundos.1,Clave municipio,Arbolado Adulto,Renuevo,Arbustivo,Herbaceo,Hojarasca,Suelo Organico,Total Hectareas,Duracion H,Costos MXN,Superficie Salvada,CO2 emitido,CO2 Evito emitir
count,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8.872000e+03,8872.000000,8.872000e+03,8.872000e+03
mean,321.784378,26.552750,29.518481,99.877480,27.684851,29.526105,54.905207,2.432372,1.665577,21.021190,32.638413,23.082732,0.595469,81.409829,6.204995,1.712718e+04,1239.907328,2.982856e+03,4.680880e+04
std,310.332721,17.943577,17.330145,9.732331,17.690869,17.477507,67.260830,44.084256,16.747957,203.451119,331.118147,190.777683,11.336051,613.414613,6.292960,1.056273e+05,9349.790127,2.631238e+04,4.128974e+05
min,1.000000,0.000000,0.000000,-101.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.100000e+01,0.150000,0.000000e+00,0.000000e+00
25%,84.000000,10.000000,14.500000,98.000000,12.000000,14.400000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.250000,2.684050e+03,22.860000,5.324000e+01,8.181300e+02
50%,223.000000,25.000000,29.170000,99.000000,27.000000,29.200000,32.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,5.000000,4.000000,4.533445e+03,70.110000,1.681800e+02,2.640025e+03
75%,470.000000,42.000000,44.500000,103.000000,43.000000,44.700000,80.000000,0.000000,0.000000,5.000000,6.000000,2.000000,0.000000,23.000000,7.602500,8.800000e+03,350.570000,8.031575e+02,1.270823e+04
max,1450.000000,59.000000,60.000000,117.000000,59.000000,83.000000,570.000000,3000.000000,755.000000,12755.000000,14000.000000,7069.000000,650.000000,21538.000000,220.000000,3.785356e+06,328282.200000,1.705756e+06,2.634777e+07

<div class="alert alert-success">
    
1. a) Encontrar el Total de Hectareas afectadas por estado.
2. b) Encontrar el Total de Hectareas afectadas por estado, ordenando los datos de mayor a menor
    
</div>

In [126]:
#df_incendios[df_incendios['Total Hectareas']]
df_incendios.groupby('Estado')['Total Hectareas'].sum().reset_index().head()

                Estado  Total Hectareas
0       Aguascalientes             4734
1      Baja California            50957
2  Baja California Sur               77
3             Campeche            13822
4              Chiapas            13021

In [127]:
df_incendios.groupby('Estado')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=False).head()

             Estado  Total Hectareas
13          Jalisco           189816
25           Sonora           101072
5         Chihuahua            87285
1   Baja California            50957
19           Oaxaca            41718

<div class="alert alert-success">
    
2. Encontrar el tiempo promedio de los incendios por estado, ordenando los datos de mayor a menor
    
</div>

In [128]:
#df_incendios.groupby('Estado')['Duracion H'].mean().reset_index().head()

In [129]:
df_incendios.groupby('Estado')['Duracion H'].mean().reset_index().sort_values('Duracion H', ascending=False).head()

        Estado  Duracion H
27  Tamaulipas   11.441176
24     Sinaloa   11.405870
25      Sonora   11.177286
4      Chiapas   10.777897
17     Nayarit   10.327909

<div class="alert alert-success">
    
3. ¿Cuáles son los diferentes tipos de causas de incendios según los datos?
    
</div>

In [130]:
df_incendios.groupby('Causa')['Duracion H'].count().reset_index()

                                   Causa  Duracion H
0            ACTIVIDADES \nAGROPECUARIAS           5
1              ACTIVIDADES AGROPECUARIAS        3329
2                              CAZADORES         269
3                FESTIVIDADES Y RITUALES          11
4                                FOGATAS         965
5                               FOGATAS            1
6                              FUMADORES         701
7                            INTENCIONAL        1961
8              LIMPIAS DE DERECHO DE VÍA          36
9                              NATURALES         100
10         OTRAS ACTIVIDADES PRODUCTIVAS         223
11                          OTRAS CAUSAS         932
12                    QUEMA DE BASUREROS         302
13  RESIDUOS DE APROVECHAMIENTO FORESTAL          22
14                           TRANSPORTES          15

<div class="alert alert-success">
    
4. ¿Cuál es el total de Hectáreas afectadas según las causas de los incendios? Ordenar los datos de mayor a menor

    
</div>

In [131]:
df_incendios.groupby('Causa')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=False).head()

                        Causa  Total Hectareas
11               OTRAS CAUSAS           214272
1   ACTIVIDADES AGROPECUARIAS           201373
7                 INTENCIONAL            85343
9                   NATURALES            79308
6                   FUMADORES            46786

<div class="alert alert-success">
    
5. ¿Cuáles son los diferentes tipos de impactos según los datos?
    
</div>

In [132]:
df_incendios.columns

Index(['Número de Incendio', 'Clave del incendio', 'Grados', 'Minutos',
       'Segundos', 'Grados.1', 'Minutos.1', 'Segundos.1', 'Clave municipio',
       'Estado', 'Municipio', 'Predio', 'Causa', 'Fecha Inicio',
       'Fecha Termino', 'Mes Acontecimiento', 'Duración días',
       'Tipo de incendio', 'Tipo Vegetacion', 'Tipo Impacto',
       'Arbolado Adulto', 'Renuevo', 'Arbustivo', 'Herbaceo', 'Hojarasca',
       'Suelo Organico', 'Total Hectareas', 'Tamaño', 'Deteccion', 'Llegada',
       'Duracion HMS', 'Duracion H', 'Costos MXN', 'Superficie Salvada',
       'CO2 emitido', 'CO2 Evito emitir', 'Region'],
      dtype='object')

In [133]:
df_incendios['Tipo Impacto']

0         IMPACTO MÍNIMO
1         IMPACTO MÍNIMO
2         IMPACTO MÍNIMO
3         IMPACTO MÍNIMO
4         IMPACTO MÍNIMO
              ...
8867      IMPACTO MÍNIMO
8868      IMPACTO MÍNIMO
8869    IMPACTO MODERADO
8870      IMPACTO MÍNIMO
8871      IMPACTO MÍNIMO
Name: Tipo Impacto, Length: 8872, dtype: object

In [134]:
df_incendios.groupby('Tipo Impacto')['Tipo Impacto'].count() #I have doubt about this, you could hask

Tipo Impacto
IMPACTO MODERADO     796
IMPACTO MÍNIMO      7985
IMPACTO SEVERO        91
Name: Tipo Impacto, dtype: int64

<div class="alert alert-success">
    
6. ¿Cuáles es el total de costos por cada tipo de impacto ?
    
</div>

In [135]:
df_incendios.groupby('Tipo Impacto')['Costos MXN'].sum().reset_index()

       Tipo Impacto    Costos MXN
0  IMPACTO MODERADO  3.820436e+07
1    IMPACTO MÍNIMO  1.057902e+08
2    IMPACTO SEVERO  7.957767e+06

<div class="alert alert-success">
    
7. Muestre los 10 estados con mayor superficie afectada (Total Hectareas). ¿En que lugar esta Yucatán?
    
</div>

In [144]:
df_incendios.groupby('Estado')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=False).head(10)

             Estado  Total Hectareas
13          Jalisco           189816
25           Sonora           101072
5         Chihuahua            87285
1   Baja California            50957
19           Oaxaca            41718
9           Durango            40323
17          Nayarit            32299
11         Guerrero            24079
31        Zacatecas            16309
14        Michoacán            14452

Yucatán se encuentra en el puesto 14

In [137]:
#df_incendios.sort_values(['Estado', 'Total Hectareas']).head(10)

<div class="alert alert-success">
    
8. Definir un nuevo *DataFrame* llamado df_yucatan el cual solo tenga datos de Yucatan.  Muestre la efectación total de superficie (Total Hectareas) en los diferentes municipios en Yucatán
    
</div>

In [142]:
#First you need to create a mask to filtering the data in the original dataframe
df_yucatan=df_incendios[df_incendios['Estado'] == 'Yucatán']
#df_yucatan

In [145]:
df_yucatan.groupby('Municipio')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=False).head()

          Municipio  Total Hectareas
19          Tizimín             1654
6           Hunucmá             1643
11     Río Lagartos             1304
18         Tixkokob             1031
5   Dzilam de Bravo              904

<div class="alert alert-success">
    
9. Utilizando *DataFrame* "df_yucatan", muestre la afectación total de superficie (Total de Hectareas) en los diferentes meses (Mes Acontecimiento) ordenado de Mayor a menor. ¿Cuál es el mes más propenso a los incendios?
    
</div>

In [146]:
df_yucatan.groupby('Mes Acontecimiento')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=False).head()

  Mes Acontecimiento  Total Hectareas
4              marzo             4324
5               mayo             1943
1             agosto             1928
3            febrero             1566
0              abril              975

In [ ]:
# I have to write the name of de month?

<div class="alert alert-success">
    
10. Utilizando el *DataFrame* "df_yucatan", muestre los costos de los incendios en los diferentes municipios en Yucatán
    
</div> 
    
</div>

In [147]:
df_yucatan.groupby('Municipio')['Costos MXN'].sum().reset_index()

          Municipio  Costos MXN
0             Abalá    184965.0
1         Cacalchén    744736.0
2          Calotmul    106200.0
3          Celestún      2300.0
4            Chemax     62510.0
5   Dzilam de Bravo    384021.0
6           Hunucmá   1216936.0
7            Izamal     37260.0
8           Mocochá     73432.0
9             Motul     52540.0
10        Oxkutzcab     70130.0
11     Río Lagartos     76520.0
12          Sacalum    177590.0
13            TEKAX     12595.0
14            Tekax    292368.0
15            Tekit    199360.0
16          Temozón      7980.0
17            Tetiz     13200.0
18         Tixkokob    789645.0
19          Tizimín    405535.0
20         Tzucacab    234890.0
21       Valladolid     46820.0
22          Yaxcabá     22890.0